.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;

  justify-items: center;
}

.grid-item {
  width: 200px;
  height: 150px;
  background-color: lightgray;
  border-radius: 5px;
  font-size: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
}